# Игнорировать каталоги сборки
cmake-build-debug/
build/

# Игнорировать файлы конфигурации среды разработки
.idea
.vscode

# Игнорировать файлы журналов
admin/log/log.log

# Игнорировать скомпилированные файлы объектных файлов
*.o
main.o
uchat_server
uchat_server.o
uchat_server.exe
uchat.db
uchat.db-shm
uchat.db-wal

# Игнорировать главный файл CMakeLists.txt, если он не нужен
CMakeLists.txt
